.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Add this at the end of your App.css file */

/* html {

  background-color: #ffffff; 
}


@media (max-width: 480px) {
  html {
 
    background-color: #f3ef03; 
  }
}


@media (max-width: 600px) {
  html {
    background-color: #ffffff; 
  }
} */