.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Add this at the end of your App.css file */

html {
  /* Set a default background color */
  background-color: #ffffff; /* white */
}

/* For screens smaller than 600px */
@media (max-width: 480px) {
  html {
    /* Set background color for small screens */
    background-color: #f3ef03; /* light gray */
  }
}

/* For screens larger than 600px */
@media (min-width: 481px) {
  html {
    /* Set background color for large screens */
    background-color: #ffffff; /* white */
  }
}