.POPOSList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

/* For screens smaller than 600px, use two columns */
@media screen and (max-width: 599px) {
  .POPOSList {
    grid-template-columns: 1fr 1fr;
  }
}